.header {
  height: 100vh;
  background-image: url("https://firebasestorage.googleapis.com/v0/b/storyhub-ced7b.appspot.com/o/images_prod%2F1676373537517profile.jpg?alt=media&token=633fa176-18ac-4a31-89e3-a1b378f14d54");
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.85);
  //@at-root
  .btn {
    display: flex;
    justify-content: center;
    button {
      border: 2px solid #ffbd39;
      padding: 15px;
      border-radius: 11px;
      margin: 20px 0;

      &:hover {
        background-color: #ffbd39;
        color: #000;
      }
    }
  }
  .scroll-icon {
    display: flex;
    justify-content: center;
    margin-top: 90px;
    padding: 10px;
    //@at-root
    .icon {
      background-color: #202124;
      border-radius: 50%;
      cursor: pointer;
      //@at-root
      &:hover {
        background-color: inherit;
        transition: 0.9s;
      }
    }
  }
}
