.features {
  padding: 0.5rem 2rem;

  li {
    list-style: none;
    position: relative;
    &:after {
      content: "";
      display: inline-block;
      width: 3px;
      background: #ffbd39;
      position: absolute;
      left: -15px;
      top: 5px;
      height: calc(100% - 10px);
    }
    li {
      position: relative;
      margin-bottom: 8px;
      color: #bdc1c6;
      &:after {
        content: "";
        display: inline-block;
        width: 11px;
        height: 11px;
        background: #ffbd39;
        position: absolute;
        left: -19px;
        top: 5px;
        border-radius: 10px;
      }
    }
  }
}
