.footer {
    background-color: #000;
    //@at-root
    h1 {
        font-size: 22px;
        font-weight: 600;
        line-height: 33px;
        margin-bottom: 30px;
    }
    ul {
        li {
            color: #808080;
            text-transform: capitalize;
            line-height: 40px;
            cursor: pointer;
            //
            &::before {
                content: "\2192";
                margin-right: 8px;
            }
            &:hover {
                color: #676767;
            }
        }
    }
    .icon {
        font-size: 30px;
        background-color: #1a1a1a;
        padding: 20px;
        border-radius: 50%;
        //@at-root
        &:hover {
            background-color: #343434;
        }
    }
}